[submodule "MOOC-Vue-Admin-Template"]
	path = MOOC-Vue-Admin-Template
	url = git@github.com:saiGou-14H/MOOC-Vue-Admin-Template.git
[submodule "MOOC-SpringCloud"]
	path = MOOC-SpringCloud
	url = git@github.com:saiGou-14H/MOOC-SpringCloud.git
[submodule "MOOC-android"]
	path = MOOC-android
	url = git@github.com:saiGou-14H/MOOC-Android.git
